<center><h1 style="color:Crimson"> Welcome to Filmy Land<h1>
	<p style="color:Orchid"> Please click on required links <p>

		<p><%= image_tag("mov.gif", :alt => "movie") %></p>

<p>
		<%= link_to 'Add Movie', new_post_path %>
</p>

<p>
		<%= link_to 'View All Movie', posts_path %>
</p>

<p>
		<%= link_to 'Edit Movie', posts_path %>
</p>
<p>
		<%= link_to 'Delete Movie', posts_path %>
</p>
</center>